.self_cont{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.text_self{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 5rem;
}

.self_cont h1{
    color: rgb(255, 255, 255);
    font-size: 3vw;
}
.btn{
    padding: 1rem;
    font-size: 1vw;
}



@media (max-width: 900px){
    .self_cont h1{
        font-size: 4vw;
    }
    .self_cont{
        height: 90vh;
    }
    .btn{
        padding: 0.5rem;
        font-size: 2vw;
    }
}
@media (max-width: 600px){
    .self_cont h1{
        font-size: 6vw;
    }
    .text_self{
        width: 100%;
        margin: 1vw;
        padding: 2vw;
        text-align: center;
    }
    .self_cont{
        height: 60vh;
    }
    .btn{
        padding: 0.5rem;
        font-size: 3vw;
    }
}
