.App {
    text-align: center;
  }
.Feature {
    text-align: left;
    padding: 1rem 1.5rem;
  
  }
  .ImgFeature{
    width: 48px;
    height: 48px;
  }
  @media screen and (max-width:374px) {
    .Feature {
      padding: 0.5rem 0.5rem;
      width: 18rem;
    }
    .ImgFeature {
      width: 48px;
      height: 48px;
    }
  }
  @media screen and (min-width:375px) {
    .Feature {
      padding: 1rem 0.75rem;
      width: 21rem;
    }
    .ImgFeature {
      width: 60px;
      height: 60px;
    }
  } 