.structure{
  padding: 2rem 0;
}
.details {
  text-align: left;
}
.details > p {
  margin: 0.5rem 0;
  text-align:justify;
}
.details > h2 {
  margin: 0.8rem 0;
}
.dash {
  border-top: 3px solid black;
  width: 5rem;
}
@media (max-width: 900px) {
  .structure{
    padding: 1rem 1rem;
    text-align: center;
  }
  .img {
    width: 15rem;
  }
  .details {
    text-align: center;
  }
  .dash {
    display: none;
  }
}
