.box{
    font-family: 'Mulish';
    display: block;
    margin: 3.5rem 1rem;
    text-align: center;
    color: #1C1C1D;
    font-size: 1.1rem;
    background-color: white;
}
.img{
    display: inline-block;
    margin: -2rem;
    border-radius: 50%;
}
.content{
    padding: 1.1rem 2rem 2rem;

}
.content h5{
    font-weight: 400;
    font-size: 1.2rem;
    margin: 3rem 0 0;
    color: #153666;
}
.content h4{
    font-weight: 300;
    font-size: 0.9rem;
    margin: 0.5rem;
    color: #0A66C2;
}
@media screen and (max-width: 600px)
{
    .box{
         margin: 3.5rem 0.3rem;
    }
    .img{
        width:40%;
    }
    .content{
        padding:0.5rem;

}
.content h5{
    font-size: 1rem;
}
.content h4{
    font-size: 0.6rem;
}
.content p{
    font-size: 0.7rem;
}
}